<!-- begin banner -->
<div class="banner">
  <img src="img/banner-new.jpg" alt="biofert">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner__title">
          <h3 class="h3">Сайт на стадії оновлення</h3>
        </div>
        <div class="banner__text text">
          <p>Оновлена версія сайту буде доступна з 1 червня 2019 року.</p>
          <p>За останніми новинами слідкуйте на нашій сторінці у фейсбук: <a href="#">{{ mixins.icon('facebook-circle') }}</a></p>
          <p>An updated version of the website will be available from June 1, 2019</p>
          <p>Follow the latest news on our facebook page: <a href="https://www.facebook.com/biofert.ua">{{ mixins.icon('facebook-circle') }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end banner -->
