<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer__title">
          <h3 class="h3">Наші контакти</h3>
        </div>
      </div>
    </div>
    

    <div class="footer__contacts footer-contacts">
      <div class="row">

        <div class="col-sm-6">
          <div class="footer-contacts__block">
            <div class="footer-contacts__title title-underlined">
              <h4 class="h4">представництво в києві</h4>
            </div>

            <div class="footer-contacts__contact">Тел./Факс: <a href="tel:+380352225512">+38(0352)22-55-12</a></div>
            <div class="footer-contacts__contact">вул. Чорноморська, 1, офіс 304
            04080, м. Київ</div>
            <div class="footer-contacts__contact">Тел./Факс: <a href="tel:+380443791327">+38(044) 379-13-27</a></div>
            <div class="footer__contact"><a target="_blank" href="mailto:fertilizer@biofert.com.ua">fertilizer@biofert.com.ua</a></div>
          </div>

          <div class="footer-contacts__block">
            <div class="footer-contacts__title title-underlined">
              <h4 class="h4">the kyiv branch</h4>
            </div>

            <div class="footer-contacts__contact">Tel/Fax: <a href="tel:+380352225512">+38(0352)22-55-12</a></div>
            <div class="footer-contacts__contact">st. Chornomorska, 1, office 304
            04080, Kyiv</div>
            <div class="footer-contacts__contact">Tel/Fax: <a href="tel:+380443791327">+38(044) 379-13-27</a></div>
            <div class="footer__contact"><a target="_blank" href="mailto:fertilizer@biofert.com.ua">fertilizer@biofert.com.ua</a></div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="footer-contacts__block">
            <div class="footer-contacts__title title-underlined">
              <h4 class="h4">Головний офіс</h4>
            </div>

            <div class="footer-contacts__contact">ТОВ «Біоферт»
              47722, Тернопільська обл. 
              Тернопільський р-н. 
            с.Великі Гаї, вул. Підлісна 27</div>
          </div>

          <div class="footer-contacts__block">
            <div class="footer-contacts__title title-underlined">
              <h4 class="h4">head office</h4>
            </div>

            <div class="footer-contacts__contact">LLC «Biofert»
              47722, Ternopil region
            Village Velikiy Gai str. Pidlysna 27</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</footer>
<!-- end footer -->
