.header
  &__inner
    +flex(space-between, center)
    padding-top: 20px
    padding-bottom: 20px
    +xs
      display: block
      text-align: center
    &__logo
      +xs
        margin-bottom: 5px
    
